name: E2E Test

on:
  push:
    branches: [ main ]
  pull_request:

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Use Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 'lts/*'
        check-latest: true
        package-manager-cache: false

    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]
          - args: [--global, aws-cdk]

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7  # v6.0.0
      with:
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
        role-session-name: GitHubActions
        aws-region: us-west-2
    - name: Create for testing table
      working-directory: __tests__/cdk
      run: cdk deploy --all

  test:
    needs: [setup]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        region: [us-west-2, ap-northeast-1]

    steps:
    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7  # v6.0.0
      with:
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
        role-session-name: GitHubActions
        aws-region: ${{ matrix.region }}

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Use Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 24.x
        check-latest: true
        package-manager-cache: false

    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]

    - name: Run E2E test
      id: test
      uses: ./
      with:
        parameter-name: /get-aws-ssm-parameter/test
        aws-region: ${{ matrix.region }}
        decryption: false

    - name: verify value
      run: if [ ${{ steps.test.outputs.value }} != 'test' ]; then exit 1; fi

    - name: Prepare E2E test with decryption
      id: prepare-test-with-decryption
      run: aws ssm put-parameter --name '/get-aws-ssm-parameter/test-with-decryption' --value 'test-with-decryption' --type String --overwrite --region ${{ matrix.region }}

    - name: Run E2E test with decryption
      id: test-with-decryption
      uses: ./
      with:
        parameter-name: /get-aws-ssm-parameter/test-with-decryption
        aws-region: ${{ matrix.region }}
        decryption: true

    - name: verify value with decryption
      run: if [ ${{ steps.test-with-decryption.outputs.value }} != 'test-with-decryption' ]; then exit 1; fi
